.DropDownFilterForm {
	display: flex;
	flex-direction: column;
	padding: 5px;
	align-items: flex-start;
}

label {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

select {
	font-size: 15px;
	margin-bottom: 10px;
}