.NavBar li {
  display: inline-block;
  margin-right: 15px;
}

.NavBar ul {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 0 20px;
}

.NavBar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 0 10px 0;
  /* border: 1px red dashed; */
  background-color: rgba(0, 0, 0, 0.2);
}